{{>boilerplate}}
<div class="container main_header">

        
            <div class="row">
                {{! right menu.......}}
                <div class='col-md-6 col-12 main_header_right container'>
                    <figure><img src="images/Work_3.jpg" alt="face" class="img-fluid"></figure>
                </div>
                {{! left menu.......}}
                <div class='col-md-6 col-12 main_header_left container' >
                    <h1> We are a <span style="color: #2B82C4;">Mern Stack Developer</span> and student </h1>
                    <a href="https://github.com/meenakshi0610/weather-app"><button id="default-button">View Source Code</button></a>
                </div>
            </div>
        

</div>
{{>footer}}
{{>boilerplate2}}