<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                {{! right menu.......}}
                <div class='col-md-6 col-12 main_header_right'>
                    <figure><img src="images/face.png" alt="face" class="img-fluid"></figure>
                </div>
                {{! left menu.......}}
                <div class='col-md-6 col-12 main_header_left'>
                    <p> welcome to Our weather app</p>
                    <h1> We are a <span style="color: blue;">Mern Stack Developer</span> and student </h1>
                    <a href="/weather"><button> Check now</button></a>
                </div>
            </div>
        </div>
    </div>
</div>