{{>boilerplate}}
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                {{! left menu.......}}
                <div class='col-md-7 col-12 main_header_left'>
                    <h1 class="mb-3"> Welcome To <span style="color: #2B82C4;">Weather App</span></h1>
                    <p class="mb-4"> Get the Latest <span style="color: #2B82C4;">Weather</span> Info of your city</p>
                    <a href="/weather"><button id="default-button"> Check now</button></a>
                </div>

                {{! right menu.......}}
                <div class='col-md-5 col-12 main_header_right'>
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="images/1.png" class=" w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="images/2.png" class=" w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="images/3.png" class=" w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{>footer}}
{{>boilerplate2}}