{{>boilerplate}}
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="main_content">

                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="Enter your city name">
                    <input type="submit" value="search" id="submitbtn">
                </form>
            </div>
            <div class="tempinfo">
                <div class="top_layer">
                    <p id='day'>SUNday</p>
                    <p id="Tdate">30 Aug </p>
                </div>
                <div class="main_layer">
                    <p id="cityname">Get output here </p>
                    <div class="middlelayer data_hide">
                        <p id="temp"><span>0</span><sup>o</sup>C</p>
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{>boilerplate2}}